
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class=" card mx-auto">
        <div class=" card-header">
           Register
        </div>
        <div class="card-body">
            <label>UserName</label>
            <input class="form-control bg-primary" />
        </div>
    </div>

</form>

